@use "../tokens/colors";

.footer {
    padding: 6.4rem;
    background-color: colors.$background-color-dark;

    &-container {
        display: flex;
        gap: 9.6rem;

        & > * {
            flex: 1;
        }
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 4.8rem;
    }

    &__logo {
        width: 15rem;
    }

    &__side {
        padding: 1.2rem 0;
        border-top: 1px solid rgba(255, 255, 255, 0.325);
    }

    &__navigation {
        display: flex;
        flex-wrap: wrap;
        gap: 2.4rem;
        justify-content: space-between;
    }

    &__link {
        display: inline-block;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: colors.$text-color-light;
        transition: box-shadow, transform .3s ease;

        &:is(:hover, :active) {
            color: green;
            box-shadow: 0.2rem 0.2rem 1.2rem rgba(0, 0, 0, 0.325);
            transform: rotate(5deg) scale(1.2);
        }
    }

    &__copyright {
        line-height: 1.5;
    }
}
