@use "../tokens/colors";
@use "../tokens/spacing";

.section {
    padding: 20rem 2.4rem;
    background-color: colors.$background-color-light;

    &__header {
        text-align: center;
        margin-bottom: 9.6rem;
    }

    &__footer {
        margin-top: 9.6rem;
        text-align: center;
    }

    &--hero {
        margin-top: 0;
        padding: 0;
    }

    &--about {
        background-color: colors.$background-color-light;
        margin-top: -20dvh;
    }

    &--features {
        margin-top: -9.6rem;
        background-image:
            linear-gradient(
                120deg,
                rgba(colors.$color-primary, 0.8),
                rgba(colors.$color-primary-dark, 0.8)
            ),
            url(../img/nat-4.jpg);
        background-size: cover;
        background-position: top;
        transform: skewY(-7deg);

        & > * {
            transform: skewY(7deg);
        }
    }

    &--tours {
        margin-top: -9.6rem;
        padding-bottom: 9.6rem;
    }

    &--testimonials {
        position: relative;
        padding: 9.6rem 0; 
        background-color: transparent;
    }
}
