@use "../../abstracts/mixins";
@use "../../tokens/colors";

.section--about {
    margin-top: -15dvh;
    background-color: colors.$color-surface-light;
    
    @include mixins.media-up(768px) {
         margin-top: -25dvh;
        // clip-path: polygon(0 0, 100% 0, 100% 75dvh, 0 95dvh);
    }
}

.about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
    gap: 4.8rem;

    @include mixins.media-up(768px) {
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: auto;
    }

    &__composition {
        @include mixins.media-up(768px) {
            margin-top: 10%;
        }
        @include mixins.media-up(1024px) {
            margin-top: 0;
        }
    }
}
