@use "../../abstracts/mixins";
@use "../../tokens/colors";

.hero {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 6.4rem;

    margin-top: 0;
    padding: 0;
    height: 95dvh;

    background-image:
        linear-gradient(
            120deg,
            rgba(colors.$color-brand-primary-light, 0.8),
            rgba(colors.$color-brand-primary-dark, 0.8)
        ),
        url(../img/hero-small.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 85dvh, 0 95dvh);

    overflow-x: hidden;

    @media (min-resolution: 192dpi) and (min-width: 600px) {
        background-image:
            // linear-gradient(
            //     120deg,
            //     rgba(colors.$color-brand-primary-light, 0.8),
            //     rgba(colors.$color-brand-primary-dark, 0.8)
            // ),
            url(../img/hero.jpg);
    }

    @include mixins.media-up(360px) {
        gap: 12.8rem;
    }

    @include mixins.media-up(768px) {
        clip-path: polygon(0 0, 100% 0, 100% 75dvh, 0 95dvh);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 3.2rem 2.4rem;

        .logo {
            height: 3.2rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.2rem;
    }

    &__heading {
        text-align: center;
    }
}
