@use "../tokens/colors";
@use "../tokens/typography.scss";

.btn {
    position: relative;

    display: inline-flex;
    align-items: center;

    width: max-content;

    font-size: clamp(1.2rem, 1.061rem + 0.43vw, 1.6rem);

    transition:
        transform 0.4s ease,
        box-shadow 0.4s ease;

    &:hover {
        transform: translateY(-0.4rem);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.125);
    }

    &:active {
        transform: translateY(-0.2rem);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.125);
    }

    &--pill {
        padding: 1.6rem 3.2rem;
        padding: 1.2rem 2.4rem;

        border-radius: 10rem;
        text-transform: uppercase;
    }

    &--primary {
        background-color: colors.$color-brand-primary;
        color: colors.$color-text-light;
    }

    &--secondary {
        color: colors.$color-text-body;
        background-color: #fff;
    }

    &--tertiary {
        padding: 0 0.4rem;
        color: colors.$color-brand-primary;
        font-weight: 500;
        border-bottom: 2px solid colors.$color-brand-primary;
        transition: all 0.3s ease;

        &:hover {
            color: #fff;
            background-color: colors.$color-brand-primary;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.125);
            transform: translateY(-0.2rem);
        }
    }

    &--effect-expand {
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;

            opacity: 1;
            transform: scale(1);
            border-radius: inherit;
            background-color: inherit;

            transition:
                transform 0.4s ease,
                opacity 0.4s ease;
        }

        &:hover::after {
            transform: scaleY(1.6) scaleX(1.5);
            opacity: 0;
        }
    }

    &--hero {
        animation: moveInBottom 1s ease 0.75s;
        animation-fill-mode: backwards;
    }
}
