@use "../abstracts/extends";
@use "../tokens/colors";
@use "../tokens/typography.scss";

.button-primary {
    @extend %button-base;

    position: relative;
    display: inline-block;

    padding: 1.2rem 3.6rem;
    text-transform: uppercase;
    border-radius: 100px;

    &:hover {
        transform: translateY(-0.4rem);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.125);
    }

    &:active {
        transform: translateY(-0.2rem);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.125);
    }

    &--white {
        color: #868e96;
        background-color: colors.$background-color-light;
    }

    &--green {
        background-color: colors.$color-primary;
        color: colors.$text-color-light;
    }

    &--effect-expand {
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: inherit;
            border-radius: inherit;
            transform: scale(1);
            opacity: 1;
            transition: all 0.4s ease;
            z-index: -1;
        }

        &:hover::after {
            transform: scaleY(1.6) scaleX(1.5);
            opacity: 0;
        }
    }
}

.button-secondary {
    @extend %button-base;

    width: max-content;
    padding: 0 0.4rem;
    display: inline-flex;
    align-items: center;
    color: colors.$color-primary;
    font-weight: 500;
    border-bottom: 2px solid colors.$color-primary;

    &:hover {
        color: #fff;
        background-color: colors.$color-primary;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.125);
        transform: translateY(-0.2rem);
    }
}

.button-hero {
    animation: moveInBottom 1s ease 0.75s;
    animation-fill-mode: backwards;
}
