@use "../abstracts/mixins";
@use "../tokens/colors";
@use "../tokens/typography";

.feature {
    padding: 2.4rem;

    text-align: center;

    border-radius: 0.8rem;
    background-color: rgba(colors.$color-surface-light, 0.725);

    transition: transform 0.3s ease;

    @include mixins.media-up(425px) {
        display: flex;
        align-items: center;
        gap: 1.6rem;

        text-align: start;
    }

    @include mixins.media-up(768px) {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        text-align: center;
    }

    &__icon {
        flex-shrink: 0;

        width: 4.8rem;
        height: 4.8rem;

        stroke-width: 1;
        stroke: colors.$color-brand-primary;
    }

    &__description {
        font-size: typography.$small-font-size;
    }

    &:hover {
        transform: translateY(-1.2rem) scale(1.02);
    }
}
