@use "../tokens/colors";

.hero {
    position: relative;
    height: 95dvh;
    background-image:
        linear-gradient(
            120deg,
            rgba(colors.$color-primary, 0.8),
            rgba(colors.$color-primary-dark, 0.8)
        ),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75dvh, 0 95dvh);

    &__text-box {
        width: max-content;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
