@use "../abstracts/mixins";
@use "../tokens/colors";
@use "../tokens/typography";

.tour-card {
    flex: 1;
    max-width: 28.8rem;
    position: relative;
    perspective: 150rem;

    &__side {
        backface-visibility: hidden;
        border-radius: 0.8rem 0.8rem 0 0;
        box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
        overflow: hidden;
        transition: transform 0.8s ease;

        &--front {
            padding-bottom: 1.6rem;
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

            background-color: colors.$color-surface-white;
        }

        &--back {
            margin-top: -9.6rem;
            padding-block: 12.8rem 4.8rem;

            display: flex;
            justify-content: center;

            border-radius: 0.8rem;
            &-1 {
                background-image: linear-gradient(
                    to right bottom,
                    colors.$color-accent-a-light,
                    colors.$color-accent-a-dark
                );
            }

            &-2 {
                background-image: linear-gradient(
                    to right bottom,
                    colors.$color-brand-primary-light,
                    colors.$color-brand-primary-dark
                );
            }

            &-3 {
                background-image: linear-gradient(
                    to right bottom,
                    colors.$color-accent-b-light,
                    colors.$color-accent-b-dark
                );
            }
        }
    }

    &__hero {
        height: 16.1rem;
        background-size: cover;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1 {
            background-image:
                linear-gradient(
                    to right bottom,
                    colors.$color-accent-a-light,
                    colors.$color-accent-a-dark
                ),
                url(../img/nat-5.jpg);
        }

        &--2 {
            background-image:
                linear-gradient(
                    to right bottom,
                    colors.$color-brand-primary-light,
                    colors.$color-brand-primary-dark
                ),
                url(../img/nat-6.jpg);
        }

        &--3 {
            background-image:
                linear-gradient(
                    to right bottom,
                    colors.$color-accent-b-light,
                    colors.$color-accent-b-dark
                ),
                url(../img/nat-7.jpg);
        }
    }

    &__title {
        position: absolute;
        top: 17%;
        right: 2.4rem;

        width: 75%;

        font-size: clamp(1.6rem, 1.322rem + 0.87vw, 2.4rem) 1.6rem;
        font-weight: 300;
        text-align: right;
        text-transform: uppercase;

        color: #fff;

        span {
            padding: 1.2rem;
            box-decoration-break: clone;
        }

        &--1 {
            span {
                background-image: linear-gradient(
                    to right bottom,
                    rgba(colors.$color-accent-a-light, 0.85),
                    rgba(colors.$color-accent-a-dark, 0.85)
                );
            }
        }

        &--2 {
            span {
                background-image: linear-gradient(
                    to right bottom,
                    rgba(colors.$color-brand-primary-light, 0.85),
                    rgba(colors.$color-brand-primary-dark, 0.85)
                );
            }
        }

        &--3 {
            span {
                background-image: linear-gradient(
                    to right bottom,
                    rgba(colors.$color-accent-b-light, 0.85),
                    rgba(colors.$color-accent-b-dark, 0.85)
                );
            }
        }
    }

    &__details {
        padding: 2.4rem 3.2rem 2.4rem;
        text-align: center;

        li {
            padding: 1.2rem;
            font-size: typography.$extra-small-font-size;

            &:not(:last-child) {
                border-bottom: 1px solid rgba(0, 0, 0, 0.125);
            }
        }
    }

    &__cta {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.6rem;

        width: max-content;
        color: colors.$color-text-light;
        text-align: center;
    }

    &__price {
        text-transform: uppercase;
    }

    &__price-value {
        font-size: clamp(3.2rem, 2.643rem + 1.74vw, 4.8rem);
        font-weight: 200;
    }
}

@include mixins.media-up(1024px) {
    .tour-card {
        height: 42.2rem;

        &__side {
            position: absolute;
            inset: 0;
            backface-visibility: hidden;
            border-radius: 0.8rem;

            &--front {
                padding-bottom: 0;

                clip-path: unset;
                background-color: colors.$color-surface-white;
            }

            &--back {
                margin-top: auto;
                padding: 4.8rem;
                transform: rotateY(180deg);
            }
        }

        &:hover &__side--front {
            transform: rotateY(-180deg);
        }

        &:hover &__side--back {
            transform: rotateY(0deg);
        }

        &__details {
            padding: 2.4rem 3.2rem 1.2rem;
        }
    }
}
