@use "../tokens/colors";

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    padding: 1.6rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: colors.$text-color-body;
    overflow-x: hidden;
}
