@use "../tokens/colors";
@use "../tokens/typography.scss";

.heading {
    text-transform: uppercase;

    &--primary {
        font-size: 5.6rem;
        letter-spacing: 0.8rem;
        word-spacing: 1.6rem;
        line-height: 1;
        color: colors.$color-text-light;
        animation: moveInLeft 1s ease;
    }

    &--secondary {
        display: inline-block;
        font-size: 3.2rem;
        letter-spacing: 0.2rem;
        color: transparent;
        background-image: linear-gradient(
            to right,
            colors.$color-brand-primary-light,
            colors.$color-brand-primary-dark
        );
        background-clip: text;
        transition: all 0.3s ease;

        &:hover {
            transform: skewY(2deg) scale(1.1);
            text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.125);
        }
    }

    &--tertiary {
        font-size: typography.$default-font-size;
        margin-bottom: 0.8rem;
    }

    &--subtitle {
        font-size: 3.2rem;
        letter-spacing: 0.4rem;
        word-spacing: 0.8rem;
        color: colors.$color-text-light;
        animation: moveInRight 1s ease;
    }
}

.paragraph {
    font-size: typography.$small-font-size;

    &:not(:last-child) {
        margin-bottom: 3.2rem;
    }
}
