@use "../tokens/colors";
@use "../tokens/typography.scss";

.heading {
    text-transform: uppercase;

    &--primary {
        font-size: clamp(3.2rem, 2.365rem + 2.61vw, 5.6rem);
        letter-spacing: clamp(0.4rem, 0.261rem + 0.43vw, 0.8rem);
        word-spacing: clamp(0.8rem, 0.522rem + 0.87vw, 1.6rem);
        line-height: 1;

        color: colors.$color-text-light;

        animation: moveInLeft 1s ease;
    }

    &--secondary {
        display: inline-block;

        font-size: clamp(2.4rem, 2.122rem + 0.87vw, 3.2rem);
        letter-spacing: 0.2rem;

        background-image: linear-gradient(
            to right,
            colors.$color-brand-primary-light,
            colors.$color-brand-primary-dark
        );
        color: transparent;
        background-clip: text;

        transition:
            transform 0.3s ease,
            text-shadow 0.3s ease;

        &:hover {
            transform: skewY(2deg) scale(1.1);
            text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.125);
        }
    }

    &--tertiary {
        margin-bottom: 0.8rem;
        font-size: clamp(1.4rem, 1.33rem + 0.22vw, 1.6rem);
    }

    &--subtitle {
        letter-spacing: 0.4rem;
        font-size: clamp(1.4rem, 0.774rem + 1.96vw, 3.2rem);
        word-spacing: clamp(0.4rem, 0.261rem + 0.43vw, 0.8rem);

        color: colors.$color-text-light;

        animation: moveInRight 1s ease;
    }
}

.paragraph {
    font-size: clamp(1.2rem, 1.13rem + 0.22vw, 1.4rem);

    &:not(:last-child) {
        margin-bottom: 3.2rem;
    }
}
